.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.results {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 20px;
}

.result-item img {
  max-width: 100%;
  height: auto;
}

.error {
  color: red;
  margin-top: 10px;
}
/* .result-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */

.result-item p {
  margin: 0;
  font-size: 16px;
}

.result-item {
  margin-bottom: 20px;
}

.media-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
